[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pydantic = "*"
fastapi = "*"
uvicorn = "*"
starlette = "*"
requests = "*"
httpx = "*"
zeep = "*"
spyne = {index = "v",version = "==2.13.2a0"}
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pandas = "*"

[requires]
python_version = "3.7"
